{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <div class='container mx-auto'>
        <div class="rounded-xl mx-auto bg-gray-800  h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://3.bp.blogspot.com/-UZtEcya2Ap4/Xd2zIRxdpXI/AAAAAAAARy4/caINMb415YgCjE_XKN7ubZjUrgcbhUa1QCLcBGAsYHQ/w914-h514-p-k-no-nu/sunset-scenery-landscape-tree-digital-art-illustration-uhdpaper.com-4K-4.2017-wp.thumbnail.jpg)">
        </div>
        <div class='flex flex-wrap -mx-40'>
            {% for room in rooms  %}
                {% include 'partials/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
        </h5>
    </div>
    
{% endblock content %}